DOWNLOAD_CLIENT=qbittorrent
DL_SCHEME=http
DL_HOST=192.168.1.123
DL_PORT=8080
DL_USERNAME=admin
DL_PASSWORD=
DL_API_KEY=
DL_CATEGORY=abb-downloader
SAVE_PATH_BASE=/audiobooks
ABB_HOSTNAME=audiobookbay.is
PAGE_LIMIT=5
FLASK_PORT=5078
DOWNLOAD_CLIENT=qbittorrent