version: '3.8'

services:
  audiobookbay-automated:
    image: ghcr.io/kobius77/audiobookbay-automated:latest
    ports:
      - "5078:5078"
    container_name: audiobookbay-automated
    environment:
      - DOWNLOAD_CLIENT=${DOWNLOAD_CLIENT}
      - PUTIO_TOKEN=${PUTIO_TOKEN}
      - PUTIO_FOLDER_ID=${PUTIO_FOLDER_ID}
      - DL_HOST=${DL_HOST}
      - DL_PORT=${DL_PORT}
      - DL_USERNAME=${DL_USERNAME}
      - DL_PASSWORD=${DL_PASSWORD}
      - DL_CATEGORY=${DL_CATEGORY}
      - SAVE_PATH_BASE=${SAVE_PATH_BASE}
      - NAV_LINK_NAME=${NAV_LINK_NAME}
      - NAV_LINK_URL=${NAV_LINK_URL}
    env_file:
      - .env
